.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 2em;
  background-color: honeydew;
  max-width: 768px;
  margin-right: 29em;
  border: solid 2px lightgrey;
}

header {
  margin-bottom: 2em;
  font-family: 'Playfair Display', serif;
  color: teal;
}

p {
  font-family: 'Roboto', sans-serif;
}

#root {
  background-image: url(./images/portfolioBackground.jpeg);
  padding-top: 2em;
  padding-bottom: 32px;
}

footer {
  background-color: grey;
  text-align: center;
  font-size: 1.25rem;
  color: honeydew;
  border-top: solid 5px teal;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 991.98px) {
  .container {
      margin: .75em;
      max-width: 95%;
  }
}

