<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header>
                    <h1>About Me</h1>
                </header>
            </div>
        </div>
        <div id="horizontal-line"></div>
        <div class="row">
            <div class="col-lg-4">
                <img src="Assets\images\chrisbiopic.JPG" alt="Christopher Marti bio picture" class="rounded img-thumbnail">
            </div>
            <div class="col-lg-8">
                <p>
                    Christopher is an aspiring full-stack web developer. Currently he is in the midst of a grueling coding bootcamp, but he is confident that he is retaining the information. His coding abilities so far include: HTML5, CSS, and some basic Javascript. He is getting familiar with Bootcamp and anticipates attaining additional abilities as the class continues.  
                </p>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Chris has a very broad education and work history. He was briefly in a mass communication major for Photojournalism before later changing his focus to Medicine. In 2012 he graduated from the University of Minnesota Rochester with a bachelors degree in Science. He worked for 8 years as a Respiratory Therapist at hospitals in Minnesota, Utah, and Washington state.
                </p>
            </div>
        </div>
    </div>
</main>