<main>  
  <div class="container">
      
    <div class="row">
      <div class="col-lg-12">
        <header>
          <h1>Portfolio</h1>
        </header>
      </div>
    </div>
    <div id="horizontal-line"></div>
      
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body"> 
            <img src="Assets\images\passwordgenss.jpg" class="card-img" alt="Password Generator">
            <a href="https://chrisjm093.github.io/random-password-gen/" class="btn btn-block custom-btn">Password Generator</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body"> 
            <img src="Assets\images\MyWeatherss.jpg" class="card-img" alt="Weather dashboard">
            <a href="https://chrisjm093.github.io/Weather-App/" class="btn btn-block custom-btn">MyWeather</a>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body"> 
            <img src="Assets\images\InMyCityss.jpg" class="card-img" alt="In My City event dashboard">
            <a href="https://csipe24.github.io/LocalEventPlanner-w-Weather/" class="btn btn-block custom-btn">InMyCity Web App</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body"> 
            <img src="Assets\images\day-schedulerss.jpg" class="card-img" alt="placeholder">
            <a href="https://chrisjm093.github.io/Day-Scheduler-App/" class="btn btn-block custom-btn">Day Scheduler</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body"> 
                <img src="Assets/images/BurgerLogger.jpg" class="card-img" alt="Burger Logger">
                <a href="https://da-burger-logger.herokuapp.com/" class="btn btn-block custom-btn">Burger Logger</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body"> 
              <img src="Assets/images/Corner_red.png" class="card-img" alt="placeholder">
              <a href="https://uwproject2bootcamp.herokuapp.com/" class="btn btn-block custom-btn">Med-Handoff</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
    
  </div>
<!--     Placeholder for future portfolio content        
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body"> 
            <img src="https://via.placeholder.com/400x185" class="card-img" alt="placeholder">
            <a href="#" class="btn btn-block custom-btn">Rock Paper Scissors</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div> -->
</main>